	html, body
	{
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		background:#fffff1;
		color: #000000;
	}

/*********************************************************************************/
/* photo                                                                       */
/*********************************************************************************/
	div.photo{
		background-color:#fffff1;
		margin-left: 22%;
		margin-right: 10%;
		margin-top:20px;
		text-align:center;
		width: 50%;
		height: 250px;
	}
	img.photo{
		width: 100%;
		height: 100%;
	}

/*********************************************************************************/
/* table                                                                       */
/*********************************************************************************/
	.join{
		margin-top:5%;
		margin-right:5%;
	}
	

/*********************************************************************************/
/* table                                                                       */
/*********************************************************************************/
	table{
		margin-top: 70px;
		border-collapse:collapse;
		border-spacing:2px;
		text-align:center;
		margin-bottom:10px;
	}
	
	td{
		padding-bottom: 15px;
	}
	

/*********************************************************************************/
/* event                                                                        */
/*********************************************************************************/
	table.event{
		width:80%;
	}

/*********************************************************************************/
/* walfare                                                                        */
/*********************************************************************************/
	table.walfare{
		width:20%;
		text-align:left;
		
	}
	
/*********************************************************************************/
/* map                                                                      */
/*********************************************************************************/
	#map {
		float:left;
        width: 35%;
        height: 400px;
		margin-top:-180px;
		margin-left:50%;
      }

/*********************************************************************************/
/* detail                                                                        */
/*********************************************************************************/
	table.detail{
		margin-left:40%;
		float:left;
		width:77%;
		text-align:left;
	}

/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{ 
		width: 80%;
		padding:430px 30px 20px 30px;
		margin-left: 10%;
	}

/*********************************************************************************/
/* iframe                                                                       */
/*********************************************************************************/
	iframe{
		float: left;
	}
	
	h1.title{
		margin-left:27vw;
	}
	
	label.title{
		margin-left:26vw;
	}
	
	

