/*---------------------------*/
/* 定義Copyright             */
/*---------------------------*/
div.footer{
    font-family: Microsoft JhengHei;
    height:60px;
    background-color:#ffe7b8;
    font-size:13px;
    text-align:center;
    line-height: 50px;
    letter-spacing:3px;
    position:relative;
    color:#333;	
    margin-left: -70px;
    top:50%;
    bottom: 0px;
}
div.footer h3{
	margin-left:6.5vw;
}
