@charset "utf-8";

/*---------------------------*/
/* 定義標題                   */
/*---------------------------*/
	#header{
		text-align:center;
		z-index: inherit 20;
		position:absolute;
		width: 1200px;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper{
		overflow: hidden;
		background:#fffff3;
		padding: 0em 0em;
		background-image:url(../images/bg.jpg);
		background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center;
        background-size: cover;
	}

/********
/*********************************************************************************/
/* container                                                                        */
/*********************************************************************************/
    div.container
	{
		margin-left:auto;
   		margin-right:auto;	
		width: 1200px;
		z-index: 30px;
	}
/*---------------------------*/
/* logo                */
/*---------------------------*/
	#logo
	{
		background-image:url(../images/FindLove-logo.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 11em 0;
		text-align: center;
		position: relative;
	}
