@charset "utf-8";
html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	a
	{
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}
	
	#wrapper1
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{       
		padding-top: 450px;
		margin-bottom:50px;
	}

/*********************************************************************************/
/* table                                                                     */
/*********************************************************************************/
	table{
		border-collapse:collapse;
		height:40px;
		border-spacing:2px;
		width:80%;
		border:1px solid #000;
		text-align:center;
		margin-bottom:100px;
		color:#666;
		
	}
	td{
		height:15px;
	}
	tbody:nth-child(even) {
		background: #FFF;
	}
	tbody:nth-child(odd) {
		background: #fffddc;
	}

	tr.info{
		height:40px;
		margin-bottom:100px;
		background-color:#FFD885;
		color:#666;
		font-weight:bold;
	}

/*********************************************************************************/
/* detail                                                                     */
/*********************************************************************************/
	.detail{
		margin-left:-58vw;
		margin-bottom:2%;
}

/*********************************************************************************/
/* 下拉式選項                                                                     */
/*********************************************************************************/

	.text{
		width:100%;
}
	.text select{
		width:350px; 
		height:30px;
		line-height: 12px;
		font-size: 1em;
		border: 1px solid #000;
		color: #5f5f5f;
}

	.text1{
		width:100%;
}
	.text1 select{
		width:350px; 
		height:30px;
		line-height: 12px;
		font-size: 1em;
		border: 1px solid #000;
		color: #5f5f5f;
}
/*********************************************************************************/
/* 按鈕                                                                     */
/*********************************************************************************/

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 2px solid #8f8b8b;
    border-radius: 82px;
    background: #ffb2ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb2ab), to(#fabea3));
    background: -moz-linear-gradient(top, #ffb2ab, #fabea3);
    background: linear-gradient(to bottom, #ffb2ab, #fabea3);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 2px solid #bab5b5;
    background: #ffd6cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd6cd), to(#ffe4c4));
    background: -moz-linear-gradient(top, #ffd6cd, #ffe4c4);
    background: linear-gradient(to bottom, #ffd6cd, #ffe4c4);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #996b67;
    background: -webkit-gradient(linear, left top, left bottom, from(#996b67), to(#fabea3));
    background: -moz-linear-gradient(top, #996b67, #fabea3);
    background: linear-gradient(to bottom, #996b67, #fabea3);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACZUlEQVRIidXVsWtkVRTH8c8dh7BFRkUsRERWiy1ksRCrJaiwEKMIq65BRZLcCCEIeVqICpaKhVg5LwG3CO8N2VhtIWIVlm30D5AQGxGLRRaLFCtvhGU3vmuRGZmdjZlMFMFTXn7nfM+5555z+T9aKyvvn8xK0PwXgzYxI1iWPBN4BLv/CHDPO4W6Dicxjzk0JSfxdZXHXY5ZwWTWmQhM13VaxqPYwAf4FD/jQl87FqCVlQ8R3sQb2CHkpCt4EhuBdxOfpWDryIDW28WEFKaxhFOkjhSerlYXfu1Bz6ATmE08j81uO+6NBLSy8mFEyev72VpLKVzpri7sDWimsI5Xk7RD2MRzg3FuA0yuFM0QwgyWBKfQwdmqHa8dkMAZFJit8vh9Kyun8VNy19U7AL1reB8L2BasNULj8m+fz9cHX1s5JSkE56t23O4dL+NCN5+7TduAIEz03u0JXJPsNlI6OHhWPiVZx2w/eCsrH8BpKV0e1och53vxChYxgSJJX3bzxeswmZVTgYJwvsoXtgf8PhQ0q3b86FDAEOx0D/QyvsO3eA8vVXnc6evuXimbKfgBZ6s8/nJkwF+glfKE4AXCx6RPqjxeHEpkBm9VeTx3kP/IOahW4w1cau0vr3O4OCRZMjC5w9YYBehbCr7BVK9P6E+2x+raHc0dG9Btxxv4SvDawPE8Nn9fizf/zm/cZbcekuK+bOOLW426oU5zePYwhyNXAFUedxI3b/njCXWaxo9VHq8e5nOcdV3Yf74POqS5fRurgp5dwot4nLQ1Sjw2oMrjdWyhU+WLe6P0x/0ys8DI4P+J/Qnp8NBg/Rl/EQAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}
