html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Gentium Basic', serif;
	margin:0;
}
input[type="submit"],input[type="reset"],a{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}

/*-- responsive --*/

/*	2) Note: Design for a width of 480 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 480px) {

.wthree_nav_menu a,  #sideNav a { padding: 10px 15px; }

.wthree_nav_menu a#btn-menu { padding: 10px 30px; }

#sideNav.showFullMenu,  #sideNav.showFullMenu li,  #sideNav.showFullMenu a { width: 100%; }
}

.agileinfo_banner_info h3{
	font-size: 5em;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.agileinfo_banner_info h3 span{
	display: block;
    font-size: .2em;
    padding: .3em 1em;
    width: 17%;
    border: 1px solid;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.services,.events,.gallery{
	padding:5em 0;
}
.banner-bottom h3{
	text-align: center;
    font-size: 2.3em;
    color: #212121;
    text-transform: capitalize;
    font-weight: bold;
}
.banner-bottom h3 span,.agileinfo_header span{
	color: #f3a21d;
}
.banner-bottom p.para_w3ls{
	color:#999;
	line-height:2em;
	margin:2em auto;
	width:65%;
	text-align:center;
}
/*-- plugin --*/
.film_roll_wrapper img {
	border: 10px solid white;
	box-shadow: 7px 7px 15px #777;
	margin-left: 5px;
	margin-right: 5px;
	transition: all 1s ease;
}
.film_roll_wrapper .active img {
	border: 10px solid #f33f1d;
}

#film_roll_2 .film_roll_shuttle {
	top:10px;
}
#film_roll_2 .film_roll_child {
	transition: all 1s ease;
}
#film_roll_2 .film_roll_child.active {
	top: -10px;
}
#film_roll_2_left {
	position: absolute;
	left: 15px;
	top: 38%;
}
#film_roll_2_right {
	position: absolute;
	right: 15px;
	top: 38%;
}
.w3l_btn{
	background: #f3a21d;
    border-color: #fff;
}
.w3l_btn:hover, .w3l_btn:focus{
    background-color: #d28a13;
    border-color: #fff;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
/*-- //plugin --*/
.w3layouts_banner_bottom_servicel{
	text-align:center;
}
.w3layouts_banner_bottom_servicer h4{
	text-transform: uppercase;
    font-size: 1.2em;
    color: #212121;
    font-weight: 600;
	margin:.3em 0 1em;
}
.w3_banner_bottom_service,.w3_agile_services_grids {
    margin: 3em 0 0;
    padding-bottom: 50px;
}
.w3layouts_banner_bottom_servicer p{
	color:#999;
	line-height:2em;
}
.agile-hvr-icon-pulse-shrink{
	position:relative;
}

.agile-hvr-icon-pulse-shrink:before {
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
	font-size: 2em;
    color: #f33f1d;
}
.agile-hvr-icon-pulse-shrink:hover:before,.w3_banner_bottom_service1:hover .agile-hvr-icon-pulse-shrink:before{
    -webkit-animation-name: hvr-icon-pulse-shrink;
    animation-name: hvr-icon-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
	color: #f3a21d;
}
@-webkit-keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.agileits_w3layouts_thumb:before{
	content: "\f164";
}
.agileits_w3layouts_gift:before{
	content: "\f06b";
}
.agileits_w3layouts_heart:before{
	content: "\f004";
}
/*-- //banner-bottom --*/
/*-- wthree_progress --*/
.w3_agileits_progress_left{
	padding:0;
}
.agileinfo_header{
    font-size: 2em;
    color: #212121;
    text-transform: capitalize;
	font-weight: bold;
	
}
.w3_agileits_progress_right {
	padding:3.5em 13em 2em 4em;
}
.w3_agileits_progress_right p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.agileits_progress_left_grid{
	position:relative;
}
.agileits_progress_left_grid_pos{
	position: absolute;
    padding: 3em;
    background: #f33f1d;
    width: 100%;
    top: 40%;
    right: -75%;
}
.w3ls_progress_left1_grid {
    text-align: center;
}
.w3ls_progress_left1_grid i{
	font-size: 1.5em;
    color: #fff;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 2.7em;
    background: #3b5998;
    border-radius: 50px;
}
.w3ls_progress_left1_grid p{
	margin:.5em 0;
	text-transform:uppercase;
	font-weight:600;
	color:#fff;
}
.w3ls_progress_left1_grid h4{
	font-size: 2.3em;
    color: #fff;
    font-weight: bold;
}
.w3_twitter{
	background:#1da1f2 !important;
}
.w3_google{
	background:#f76957 !important;
}
.w3_linkedin{
	background:#00a0dc !important;
}
/*-- //wthree_progress --*/
/*-- progress-bottom --*/
.box {
    position: relative;
    overflow: hidden;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox {
	background-color:rgba(243, 162, 29, 0.81);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    padding:13.5em 2em 3em;
}
.box,.box .overbox {
	height: 351px;
}
.box:hover .overbox { opacity: 1; }

.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
	font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
	font-size: 14px;
    line-height:1.8em;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 33px;
    height: 33px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background:none;
    top: -5% !important;
    border-radius: 5px;
	display:none;
}
.nbs-flexisel-nav-left {
	left:94%;
}
.nbs-flexisel-nav-right {
	right: 0%;
    background:none;
}
/*--//flexisel--*/
/*-- //progress-bottom --*/
/*-- services --*/
.w3layouts_header{
	text-align:center;
}
.w3_services_para{
	position:relative;
	text-align:center;
	color:#999;
	padding-bottom:1.5em;
}
.w3_services_para:before,.w3_services_para:after{
	content:'';
	position:absolute;
	bottom:0%;
	background:#212121;
	width:20%;
	height:2px;
}
.w3_services_para:before{
	left:27%;
}
.w3_services_para:after{
	right:27%;
}
.w3_services_para span:before{
	content: '';
    position: absolute;
    bottom: -21%;
    left: 49%;
    border: 2px solid #212121;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agile_services_grid img{
	margin: 0 auto;
}
.w3_agile_services_grid{
	text-align:center;
}
fieldset {
    padding: 1.5em 1.5em 2em;
    position: relative;
    margin: 2em auto 0;
    border: 2px solid #d5d2d2;
	line-height:2em;
	color:#999;
	font-size:14px;
}
.w3_agile_services_grid legend{
	text-transform: capitalize;
    font-size:1.3em;
    color: #212121;
    line-height: 1.5em;
    margin: 0;
    font-weight: bold;
    font-family: 'Gentium Basic', serif;
    border-bottom: none;
}
/*-- circle-effect --*/
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle,.ih-item.circle .img {
	position: relative;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.ih-item.circle,.ih-item.circle .img,.ih-item.circle.effect1 .spinner {
	width: 200px;
    height: 200px;
	margin: 0 auto;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle.effect1 .spinner {
	border: 5px solid #f33f1d;
    border-right-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
	border-radius: 50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
	position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    height: auto;	
}
.ih-item.circle.effect1 .img:before {
  display: none;
}
.ih-item.circle.effect1:hover .spinner,.w3_agile_services_grid:hover .ih-item.circle.effect1 .spinner{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*-- //circle-effect --*/
/*-- //services --*/
/*-- about --*/
.w3_agileits_about_left,.w3ls_subscribe_left{
	padding:4em 4em 4em 13em;	
}
.w3_agileits_about_left{
	background:#212121;
	margin:3em 0 0;
}
.w3_agileits_about_right,.w3ls_subscribe_right{
	padding:4em 13em 4em 4em;
}
.w3_agileits_about_right{
	background:#f33f1d;
	box-shadow: 0px 0px 25px #4a4a4a;
}
body .bar_group__bar.thin::before, body .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

body .bar_group__bar.thin::before {
  width: 100%;
  height: 10px;
  background: #fff;
}

body .bar_group__bar.thin {
  width: 0%;
  height: 10px;
  background: #f3a21d;
  margin-bottom: 20px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.bar_group{
    position: relative;
    z-index: 1;
}
body .bar_group__bar.thin:last-child {
    margin-bottom: 0;
}
p.b_label {
    font-size: .9em;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: .8em;
}
.agileits_w3layouts_about_right{
	text-align:center;
}
.agileits_w3layouts_about_right img{
	margin:0 auto;
	border:5px solid #f3a21d;
	border-radius:70px;
}
.agileits_w3layouts_about_right h4{
	font-weight:bold;
	color:#fff;
	margin:1em 0 .5em;
	font-size:1.3em;
}
.agileits_w3layouts_about_right h5{
	text-transform: uppercase;
    font-size: .8em;
    color: #e3e3e3;
    letter-spacing: 3px;
}
.agileits_w3layouts_about_right p{
	color: #590e00;
    line-height: 2em;
    margin: 2em 0 0;
}
/*-- //about --*/
/*-- events --*/
.wthree_events_grid{
    border-top: 5px solid #f33f1d;
    background: #FFE175;
}
.agileinfo_events_grid1{
    padding: 1.5em;
}
.agileinfo_events_grid1 h5 a {
    font-size: 1.6em;
    color: #212121;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.5em;
    text-decoration: none;
}
.agileinfo_events_grid1 h5 a:hover{
	color:#f33f1d;
}
.agileinfo_events_grid1 p{
	margin: 1em 0;
    color: #000;
    line-height: 2em;
}
.agileits_event_grid_date{
	width: 150px;
    height: 100px;
    background: rgba(68, 68, 68, 0.85);
    padding: 1em;
    position: absolute;
    top: -2%;
    left: 0%;
    border-top: 5px solid rgb(248, 228, 154);f3a21d
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.agileits_event_grid_date p{
	text-transform:uppercase;
	font-weight:600;
	color:#fff;
}
.agileits_event_grid_date p span{
	display: block;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    color: #f33f1d;
}
.wthree_events_grid1{
	position:relative;
}

.w3_agileits_events_grid{
	margin-bottom: 50px;
} 

.img-responsive{
    width: 340px;
    height: 3400px;
    max-width: 340px;
    max-height: 340px;
    min-width: 100%;
    min-height: 100%;
    display: block;
}
/*-- //events --*/
