html, body
	{
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#fffff1;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}


/*********************************************************************************/
/* table                                                                       */
/*********************************************************************************/
	table{
		float: left;
		margin-top: -25%;
		margin-left: 25vw;
		border-collapse:collapse;
		border-spacing:2px;
		text-align:left;
		margin-bottom:5px;
	}
	
	td{
		padding-bottom: 20px;
	}

/*********************************************************************************/
/* Introduce                                                                       */
/*********************************************************************************/
	td.Introduce{
		max-width: 450px;
	}
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{ 
		width: 80%;
		padding:430px 30px 20px 30px;
		margin-left: 10%;
	}

/*********************************************************************************/
/* img userphoto                                                                 */
/*********************************************************************************/
	
	img.preview{
		float:left;
		margin-top: 10vh;
	}
    
/*********************************************************************************/
/* bt                                                                       */
/*********************************************************************************/
    input.photobt{ 
        position: absolute;
        margin-top: 55.2vh;
        margin-left: 3.7vw;
        opacity: 0;
    }

    label img{
        position: absolute;
        margin-top: 55vh;
        margin-left: -800px;
	}

/*********************************************************************************/
/* Page                                                                        */
/*********************************************************************************/
    #page-wrapper {
        overflow: hidden;
    }

    #page {
        overflow: hidden;
        width: 800px;
        margin: 0px auto;
        padding: 50px 40px;
        color: #8F8F8F;
    }

/*********************************************************************************/
/* submit                                                                        */
/*********************************************************************************/
input.submit{
    margin-top:420px;
	margin-left:-320px;
	margin-bottom:50px;
}

.alldata{
	float:left;

}