@charset "utf-8";
html, body
	{

	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	a
	{
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}
	
	#wrapper1
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{       
		padding-top: 450px;
		margin-bottom:50px;
	}

/*********************************************************************************/
/* table                                                                     */
/*********************************************************************************/
	table{
		border-collapse:collapse;
		border-spacing:2px;
		width:100%;
		border:1px solid #000;
		text-align:center;
		color:#666;
		
	}
	td{
		height:15px;
	}
	tbody:nth-child(even) {
		background: #EFDCE6;
	}
	tbody:nth-child(odd) {
		background:  #FFF;;
	}

	tr.info{
		height:10px;
		margin-bottom:100px;
		background-color:#D8BBCA;
		color:#333;
		font-weight:bold;
	}
	
.choose{
	font-size:20px;
	font-weight:600;
	margin-right:-630px;
}
select {
	float:right;
    width: 150px;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
	margin-top:-55px;
	margin-bottom:20px;
	}
/***************************/