html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	
	


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0em 1em 0em 1em;
		background:#FC0;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
		border-radius: 30px;
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	}
	/*動畫部分*/	
	.button {
	   background-color: #fff284;
	   color: #666;
	   border: 2px solid #ce9494;
}
    .button:hover {
 	   background-color: white; 
       color: #666; 
       border: 2px solid #ce9494;
}

	
	
	


	
/*********************************************************************************/
/* Page 網頁框框                                                                     */
/*********************************************************************************/
#page-wrapper {
	overflow: hidden;
	padding-top: 400px;
}

#page {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}

/*********************************************************************************/
/* Content                                                                        */
/*********************************************************************************/

#wide-content {
	padding: 50px;
	border: 10px solid #f1f1f1;
	font-weight:200;
	color:#000;
}

#wide-content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size:36px;
	font-weight:100px;
	color: #000;
}

