* {
  box-sizing: border-box;
}
form.example{
	float:right;
	
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f7f3d4;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  margin-top:8px;
  padding: 11.5px;
  background: #ffaba5;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  
}

form.example button:hover {
  background: #ff8c84;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}