/*********************************************************************************/
/* totop                                                                      */
/*********************************************************************************/
div.totop{
	position: fixed;
	z-index:999;
	top: 90%;
	left: 95%;
}


/*********************************************************************************/
/* addbt                                                                     */
/*********************************************************************************/
div.addbt{
	position: fixed;
	z-index:999;
	top: 90%;
	left: 85%;
}

/*********************************************************************************/
/* backbt                                                                     */
/*********************************************************************************/
div.back{
	position: fixed;
	top: 90%;
	left: 90%;
	z-index:999;
}

input.backbt{
	position: fixed;
	top: 90%;
	left: 90%;
	opacity: 0;
}